<!DOCTYPE html>
<html>
<head>
    <title>Robot Navigation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker" rel="stylesheet">
</head>
<body>
    <div class="dad">    
<div id="container">
    <div class="displayer">
        <h3>Left Motor Speed:<span id="leftm" class="speed"></span></h3>
        <h3>Right Motor Speed:<span id="rightm" class="speed"></span></h3>
    </div>
<h1 class="tm">FORZA TEAMMELLI!</h1>
    <form>
        <ul id="keyboard">
            <li id="w" class="letterW">W</li>
            <li id="a" class="letter">A</li>
            <li id="s" class="letter">S</li>
            <li id="d" class="letter">D</li>
    </ul>
    </form>    
</div>
</div>
    <div>  
    <ul id="adidas">
        <li></li>
        <li></li>
        <li></li>        
    </ul>
    </div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/keyboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    var $leftm = $('#leftm');
    var $rightm = $('#rightm');    
window.onload = function() {
	document.getElementById("w").onclick = function() {
        var ch=document.getElementById("w").innerHTML.toLowerCase();
	$.ajax({
        type:'POST',
	data:{ch},
        url:'/',
        success:function(response){
            $rightm.html(rightmotorspeed);
            $leftm.html(leftmotorspeed);
        };
    });
 event.preventDefault();
}
	document.getElementById("a").onclick = function() {
        var ch=document.getElementById("a").innerHTML.toLowerCase();
	$.ajax({
        type:'POST',
        url:'/',
        success:function(response){
            $rightm.html();
            $leftm.html();
        };
    });
 event.preventDefault();
}
	document.getElementById("s").onclick = function() {
        var ch=document.getElementById("s").innerHTML.toLowerCase();
	$.ajax({
        type:'POST',
        url:'/',
        success:function(response){
            $rightm.html();
            $leftm.html();
        };
    });
 event.preventDefault();
}
	document.getElementById("d").onclick = function() {
        var ch=document.getElementById("d").innerHTML.toLowerCase();
	$.ajax({
        type:'POST',
        url:'/',
        success:function(response){
            $rightm.html();
            $leftm.html();
        };
    });
 event.preventDefault();
}    
    };
</script>
<script>
function uniKeyCode(event) {
    var key = event.keyCode;
    if (key === 37|| key === 38 ||key === 39 ||key === 40){
    document.getElementById("w").innerHTML ="&uarr;" ;
    document.getElementById("a").innerHTML ="&larr;" ;
    document.getElementById("s").innerHTML ="&darr;" ;
    document.getElementById("d").innerHTML ="&rarr;" ;  
    }
}
    
</script>    
</body>
</html>